# Buildozer directories
.buildozer/

bin/

dist/

# Python virtual environments
.venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
SecretConfig.py
# Environment variables
.env

.poetry/

.vscode/



