<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="buscar.html">
</head>

<body>
    <form action="/buscar" method="post">

        <h1>Buscar una tarjeta</h1>

        <p>Ingrese el número de cédula</p>

        <div>
            Cédula: <input type="text" name="cedula" />
            <div> edad: <select name="id">
            <option value="1">Usuario 1</option>
            <option value="2">Usuario 2</option>
            <option value="3">Usuario 3</option>
            </select>
        </div>
        </div>
        <input type="submit" value="Buscar" />
    </form>
</body>

</html>