<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="buscar.html">
</head>

<body>
    <form action="/lista" method="post">

        <h1>Buscar una tarjeta</h1>

        <p>Ingrese el número de cédula</p>

        <div>
            Id: <input type="text" name="id" />
            <div> Id: <select name="id">
            <option value="1">Usuario 1</option>
            <option value="2">Usuario 2</option>
            <option value="3">Usuario 3</option>
            </select>
        </div>
        </div>
        <input type="submit" value="Buscar" />
    </form>
</body>

</html>