<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Proyecto Machine Learning</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="resultados.html">
    <link rel="stylesheet" href="buscar.html">
</head>
<body>
    <h1>Bienvenido al Proyecto de Machine Learning</h1>
    <p>Este proyecto implementa el algoritmo K-Means para agrupar datos.</p>

    <form action="/resultados" method="post" enctype="multipart/form-data">
        <label for="archivo">Subir archivo CSV:</label>
        <input type="file" name="archivo" accept=".csv" required>
    <button type="submit">Procesar</button>
    </form>
    <form action="/buscar" method="post">
        <h1>Buscar un usuario</h1>
        <button type="submit">Buscar Usuario</button>
    </form>
</body>
</html>
