<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <p>Búsqueda de Tarjetas para la cédula: <span id="cedula-text"></span></p>
    <input type="text" id="cedula" placeholder="Ingrese cédula">
    <button onclick="buscar()">Buscar</button>

    <table border="1" cellspacing="0" cellpadding="5" id="tabla-resultados">
        <thead>
            <tr>
                <th>Nombre Caso</th>
                <th>Tipo</th>
                <th>Dataset</th>
                <th>Number of Centroids</th>
                <th>Number of Iterations</th>
                <th>Expected Clusters</th>
                <th>Expected Centers</th>
                <th>Error Message</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <script>
        function buscar() {
            let id = document.getElementById("Id").value;
            document.getElementById("Id").innerText = id;

            fetch(`/buscar?id=${id}`)
                .then(response => response.json())
                .then(data => {
                    let tbody = document.querySelector("#tabla-resultados tbody");
                    tbody.innerHTML = `
                        <tr>
                            <td>${data["Nombre Caso"]}</td>
                            <td>${data["Tipo"]}</td>
                            <td>${data["Dataset"]}</td>
                            <td>${data["Centroids"]}</td>
                            <td>${data["Iterations"]}</td>
                            <td>${data["Clusters"]}</td>
                            <td>${data["Centers"]}</td>
                            <td>${data["Error"] || ""}</td>
                        </tr>`;
                })
                .catch(err => {
                    alert("No se encontró la cédula.");
                    console.error(err);
                });
        }
    </script>

</body>

</html>